.main-heading {
    text-align: center;
    background-color: #228B22;
    padding: 15px;
    color: #fff;
    position: relative;
}

.search {
    margin: 20px 0;
}
.search input {
    font-size: 18px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}